<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   key.plist
   NewsApp

   Created by 神村亮佑 on 2020/08/26.
   Copyright (c) 2020 神村亮佑. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
